# Ignore the actual data files, but keep the example templates.
data/*.mappings.csv

# Ignore mapping data files
data/barcode.brand.mapping.csv
data/barcode.category.mapping.csv
data/barcode.product.mapping.csv

# Ignore LibreOffice/Vim lock files
data/.~lock.*#