# Ignore the actual data files, but keep the example templates.
data/*.mappings.csv

# Ignore mapping data files
data/barcode.brand.mapping.csv
data/barcode.category.mapping.csv
data/barcode.product.mapping.csv

# Ignore LibreOffice/Vim lock files
data/.~lock.*#

# Node.js dependencies
node_modules/
package-lock.json
npm-debug.log*

# Python/Odoo artifacts
__pycache__/
*.pyc
*.pyo
*.orig